<?xml version="1.0" encoding="iso-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>Compteur</servlet-name>
		<display-name>Compteur</display-name>
		<servlet-class>Compteur </servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Compteur</servlet-name>
		<url-pattern>/servlet/Compteur</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>0</session-timeout>
	</session-config>
	
</web-app>